n8n/workflow-localagent.json
{
  "name": "LocalAgent Integration",
  "nodes": [
    {
      "parameters": {},
      "id": "manual-trigger",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [240, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:8000/chat",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ message: $json.prompt || 'Hello, what can you do?' }) }}",
        "options": {
          "timeout": 120000
        }
      },
      "id": "call-localagent",
      "name": "Call LocalAgent",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "jsCode": "// Process LocalAgent response\nconst response = $input.first().json;\n\nreturn [{\n  json: {\n    success: response.success,\n    response: response.response,\n    timestamp: response.timestamp\n  }\n}];"
      },
      "id": "process-response",
      "name": "Process Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [680, 300]
    }
  ],
  "connections": {
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Call LocalAgent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call LocalAgent": {
      "main": [
        [
          {
            "node": "Process Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}
